* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

body {
  background-color: #099F99;
  font-size: 16px;
}

.pomodor {
  padding: 0.925rem;
  list-style: none;
}

.pomodor-image {
  height: 5rem;
  width: 5rem;
}

.text-align-center {
  text-align: center;
}

.image-in-text {
  height: 1.375rem;
  width: 1.375rem;
  margin: 0 0.25rem;
}

.header {
  background: url('../img/tomato-background.png') top left repeat;
  background-size: 425px 425px;
  min-height: 17.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.375);
  position: relative;
}

.header__title {
  font-size: 3rem;
}

.header__credit {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 0.5rem;
}

.header__add-pomodoro {
  width: 20%;
  min-width: 150px;
  background-color: #C7C7C7;
  font-size: 1.275rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  background: #8e9eab; /* fallback for old browsers */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab);
}

.header__add-pomodoro:focus {
  outline: none;
}

.header__add-pomodoro:hover {
  cursor: pointer;
}

.information {
  width: 100%;
  position: fixed;
  bottom: 0.75rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  font-size: 1.125rem;
}

.information__description, .information__time-spent {
  display: flex;
  align-items: center;
}

.time-spent-value {
  margin: 0 0.25rem;
}

.information--main-style {
  font-size: 1.125rem;
  border: 2px solid #ED7161;
  border-radius: 25px;
  background-color: #FFF4DC;
  color: #D03834;
  padding: 0.25rem;
  text-align: center;
  height: 35px;
}

.notifications {
  height: auto;
  margin: 0.5rem;
}

.pomodoros-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loader {
  background-color: #FFF4DC;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader__image-in-loader {
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 8rem;
  height: 8rem;
}

.notification-container {
  display: none;
  background-color: rgba(50, 50, 50, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.notification-popup {
  max-width: 700px;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
}

.notification-popup__text {
  font-size: 3rem;
}

.notification-popup__close {
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: #ED7161;
  color: #FFF4DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.notification-popup__close:hover {
  cursor: pointer;
}

@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.loader__text {
  font-size: 3rem;
  display: block;
}

@media screen and (max-width: 800px) {
  .information {
    flex-wrap: wrap;
  }

  .information--main-style {
    font-size: 1rem;
  }

  .notification-popup__text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .information--main-style {
    font-size: 0.875rem;
  }
}